{% load static %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}الصفحة الرئيسية{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/min.style.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">

    <meta name = “theme-color” content = “#cccccc”>
    <meta name = "msapplication-navbutton-color" content = "#cccccc">
    <meta name = "apple-mobile-web-app-capable" content = "#cccccc">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "#cccccc">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
  </head>
  <body>
    <input type="hidden" id="userRole" value="{{user.user_role}}">
    <nav>
      <button id="nav"><span class="material-symbols-sharp">menu</span></button>
      <p class="header">{% block header %}الصفحة الرئيسية{% endblock %}</p>
      <ul>
        <li><a href="/">الصفحة الرئيسية</a></li>
        <li><a href="/subscribers">المشتركين</a></li>
        <li><a href="/operations">العمليات والصيانة</a></li>
        <li><a href="/projects">المشاريع</a></li>
        <li><a href="/settings">الضبط</a></li>
        {% if user.user_role == "admin" %}
        <li><a href="/admin">الإدارة</a></li>
        {% endif %}
        <li><a style="color:red" href="/logout">تسجيل الخروج</a></li>
      </ul>
    </nav>
    <main>
    {% block content %}
    <div class="switcher">
      <div id="switch1">
        <p style="text-align:right;margin-top:10px;">الطلبات المكتملة</p>
        <div class="list">
          {% for d in data %}
          <p>{{d.0}}</p>
          {% for w in d.1 %}
          <button data-order = "{{w.3}}" data-type="home" onclick="document.getElementById('switch1').style.marginLeft='-100%';">
              <p class="header">رقم الطلب : {{w.0}}</p>
              <p class="sub-header">نوع الطلب : {{w.1}}</p>
              <p class="date">{{w.2}}</p>
          </button>
          <br>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div id="switch2">
            <p class="form-header" dir="rtl" style="margin-right:20px;" id="orderNum"></p>
            <button type="button" onclick="document.getElementById('switch1').removeAttribute('style')" class="ibtn" style="margin-top:-50px;float:left;background-color:transparent;"><span class="material-symbols-sharp">close</span></button>
            <div style="width:100%;padding:20px;">
              <div style="display:grid;grid-template-columns: 47.5% 47.5%;gap:5%;">
                <button id="delete" class="primary">حذف</button>
                <button id="export" class="primary">تصدير</button>
                {% csrf_token %}
              </div>
              <br>
              <br>
              <p class="main-value" dir="rtl">نوع الطلب<span class="value" id="orderType"></span></p><hr>
              <p class="main-value" dir="rtl">المقاول<span class="value" id="contractor"></span></p><hr>
              <p class="main-value" dir="rtl">الحي<span class="value" id="distract"></span></p><hr>
              <p class="main-value" dir="rtl">المواد<span class="value" id="materials"></span></p><hr>
              <br>
              <br>
              <div id="objectsImages" class="a"></div>
              <div id="violationsImages" class="a"></div>
              <div id="addressesImages" class="a"></div>
            </div>
      </div>

      
    </div>
    {% endblock %}
    </main>
    <div id="snackbar" class="snackbar"><p id="snackbarText"></p></div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    document.body.style.display = 'none';
  });
  window.addEventListener('load', function() {
    document.body.style.display = 'block';
  });
      </script>
    <script src="{% static 'script/jQuery.js' %}"></script>
    <script src="{% static 'script/jq.js' %}"></script>
  </body>
</html>